<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 宽度是设备宽度，初始缩放比例为一，用户最大最小缩放比例为一，不允许用户手动缩放 -->
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<!-- 禁止ios设备将数字作为拨号连接，邮箱自动发送，点击地图跳转 -->
	<meta name="format-detection" content="telephone=no,email=no，adress=no">
	<!-- 强制全屏显示 -->
	<meta name="full-screen" content="yes">
	<!-- 开启对webapp的支持 -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- web app 应用下状态条（屏幕顶部条）的颜色,默认值为 default（白色） -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<!-- 禁止浏览器从的缓存中访问页面内容 -->
	<meta http-equiv="Pragma" content="no-cache">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/cake.css">
	<title>Document</title>
</head>
<body>
<div class="wrap">
	<div class="header">
		<span id="back" ui-sref='mall'></span>
		<h1>全部</h1>
	</div>
	<div class="main" id="main">
		<div class="scroller">
			<dl>
				<dt><img src="image/46.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/52.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/58.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/61.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/48.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/55.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl>
		</div>
	</div>
</div>


<script type="text/javascript">
	document.documentElement.style.fontSize=document.documentElement.clientWidth/10.8+'px';
</script>
<script src="js/zepto.min.js"></script>
<script src="js/iscroll5.js"></script>
<script src="js/cake.js"></script>
</body>
</html>