
<header class="header3">
	<a href=""></a>
	<h1>食话</h1>
	<a href="">搜索</a>
	<a href="">朋友</a>
</header>
<div class="main" id="main">
	<div class="scroller">
		<img src="image/32.jpg" alt="" class="pic32">

		<div class="c_list">
			<li><a ui-sref="in"><small></small><br/>最IN活动</a></li><li><a ui-sref="chat.in"><small></small><br/>餐桌时光</a></li><li><a ui-sref="chat.in"><small></small><br/>玩转烘焙</a></li><li><a ui-sref="chat.in"><small></small><br/>美食课堂</a></li>
		</div>
		<ol id="c_ols">
			<li class="active">最新</li>
			<li>最热</li>
		</ol>
		<ul class="person">
			<li><span><img src="image/36.jpg" alt=""></span>一弯酒窝（来自腾讯）</li>
			<li>放假在家，任意折腾，海鲜意面第三次，答应女儿的一定要做到，培根芦笋卷，焗土豆泥</li>
			<li>
				<img src="image/33.jpg" alt="">
				<img src="image/34.jpg" alt="">
				<img src="image/35.jpg" alt="">
			</li>
		</ul>
		<ul class="person">
			<li><span><img src="image/36.jpg" alt=""></span>一弯酒窝（来自腾讯）</li>
			<li>放假在家，任意折腾，海鲜意面第三次，答应女儿的一定要做到，培根芦笋卷，焗土豆泥</li>
			<li>
				<img src="image/33.jpg" alt="">
				<img src="image/34.jpg" alt="">
				<img src="image/35.jpg" alt="">
			</li>
		</ul>
		<ul class="person">
			<li><span><img src="image/36.jpg" alt=""></span>一弯酒窝（来自腾讯）</li>
			<li>放假在家，任意折腾，海鲜意面第三次，答应女儿的一定要做到，培根芦笋卷，焗土豆泥</li>
			<li>
				<img src="image/33.jpg" alt="">
				<img src="image/34.jpg" alt="">
				<img src="image/35.jpg" alt="">
			</li>
		</ul>
	</div>
</div>
<script src="js/chat.js"></script>
