
<div class="wrap">
	<div class="header">
		<span id="back" ui-sref='index.mall'></span>
		<h1>厨电</h1>
	</div>
	<div class="main" id="main">
		<div class="scroller" ng-controller='data'>
			<dl ng-repeat='x in data2'>
				<dt><img src="{{x.img}}" alt=""></dt>
				<dd>
					<p>{{x.des}}</p>
					<p>{{x.price}}<span>{{x.pp}}</span></p>
				</dd>
			</dl><!-- <dl>
				<dt><img src="image/59.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/58.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/61.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/58.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/60.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl> -->
		</div>
	</div>
</div>


