


<div class="main" id="main">

		<div class="scroller">
			<div class="f_top">
				<h2>北京市</h2>
				<h1>发现最热门</h1>
				<div class="a">
					<a ui-sref='cai'><small></small><br/>食材</a><a href=""><small></small><br/>菜单</a><a href=""><small></small><br/>专题</a><a href=""><small></small><br/>文章</a>
				</div>
			</div>
			<div class="video">
				<h2><span>2016-05-13更新</span>微在涨姿势</h2>
				<img src="image/16.jpg" alt="">
			</div>
			<div class="video">
				<h2><span>2016-05-13更新</span>微在涨姿势</h2>
				<img src="image/16.jpg" alt="">
			</div>
		</div>

</div>


