

	<div class="header">
		<span id="back" ui-sref='index.mall'></span>
		<h1>为你优选好物</h1>
	</div>
	<div class="main" id="main">
		<div class="scroller">
			<ul>
				<li><small>08:00</small><br/>已结束</li><li class="active"><small>12:00</small><br/>抢购中</li><li><small>16:00</small><br/>即将开始</li><li><small>20:00</small><br/>即将开始</li>
			</ul>
			<img src="image/62.jpg" alt="" class="pic62">
			<p class="buy">抢购中 先到先得哦~<span>距结束<i>01:35:17</i></span></p>
			<div class="dls">
				<dl>
					<dt><img src="image/63.jpg" alt=""></dt>
					<dd>
						<p>宋桂芳 干豆角100g</p>
						<p>
							<span>￥9.9</span>
							<span>￥12.8</span>
							<span>马上抢</span>
						</p>
					</dd>
				</dl>
					<dl>
					<dt><img src="image/63.jpg" alt=""></dt>
					<dd>
						<p>宋桂芳 干豆角100g</p>
						<p>
							<span>￥9.9</span>
							<span>￥12.8</span>
							<span>马上抢</span>
						</p>
					</dd>
				</dl>
					<dl>
					<dt><img src="image/63.jpg" alt=""></dt>
					<dd>
						<p>宋桂芳 干豆角100g</p>
						<p>
							<span>￥9.9</span>
							<span>￥12.8</span>
							<span>马上抢</span>
						</p>
					</dd>
				</dl>
					<dl>
					<dt><img src="image/63.jpg" alt=""></dt>
					<dd>
						<p>宋桂芳 干豆角100g</p>
						<p>
							<span>￥9.9</span>
							<span>￥12.8</span>
							<span>马上抢</span>
						</p>
					</dd>
				</dl>
			</div>
		</div>
	</div>
