
	<link rel="stylesheet" href="../css/in.css">
	<title>Document</title>
</head>
<body>
<div class="wrap">
	<div class="header">
		<span id="back" ui-sref='chat'></span>
		<h1>最IN活动</h1>
	</div>
	<div class="main" id="main">
		<div class="scroller">
			<section>
				<img src="image/64.jpg" alt="">
				<p>晒出你的【喂饭恩爱照】，赢取与小鲜肉张云龙一起直播现场活动的机会，还有九阳超值好礼哦！</p>
				<p>679作品<span>距离活动结束还有1小时</span></p>
			</section>
			<section>
				<img src="image/64.jpg" alt="">
				<p>晒出你的【喂饭恩爱照】，赢取与小鲜肉张云龙一起直播现场活动的机会，还有九阳超值好礼哦！</p>
				<p>679作品<span>距离活动结束还有1小时</span></p>
			</section>
			<section>
				<img src="image/64.jpg" alt="">
				<p>晒出你的【喂饭恩爱照】，赢取与小鲜肉张云龙一起直播现场活动的机会，还有九阳超值好礼哦！</p>
				<p><span>距离活动结束还有1小时</span>679作品</p>
			</section>
		</div>
	</div>
</div>


<script type="text/javascript">
	document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
</script>
<script src="js/zepto.min.js"></script>
<script src="js/iscroll5.js"></script>
<script src="js/cake.js"></script>
</body>
</html>