
<div class="swiper-container box" ng-controller='swiper1'>
	<ul class="swiper-wrapper lead">
		<li class="swiper-slide"><img src="image/0..jpg" alt=""></li>
		<li class="swiper-slide"><img src="image/02.jpg" alt=""></li>
		<li class="swiper-slide"><img src="image/03.jpg" alt=""></li>
		<li class="swiper-slide"><img src="image/04.jpg" alt=""></li>
		<li class="swiper-slide"><img src="image/05.jpg" alt=""></li>
		<li class="swiper-slide"><img src="image/06.jpg" alt=""></li>
		<li class="swiper-slide"><img src="image/07.jpg" alt=""><a ui-sref="index" class="start"></a></li>
	</ul>
</div>

<script type="text/javascript">
	document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
</script>

