<div>
	<div class="wrap">
		<header class="header1">
			<span></span>
			<h1>北京市海淀区唐家岭路57号</h1>
			<span></span>
		</header>


		<main class="main" id="main">
			<section id="fav">
				<div class="scroller">
					<div class="banner">
						<img src="image/1.png" alt="">
						<form action="">
							<input type="text" placeholder="寻找你喜欢的美食">
							<span>搜索</span>
						</form>
					</div>
					<p class="hot">热门推荐</p>
					<div class="dls">
						<dl>
							<dt><img src="image/3.jpg" alt=""></dt>
							<dd>披萨快餐</dd>
						</dl><dl>
							<dt><img src="image/4.jpg" alt=""></dt>
							<dd>小吃零食</dd>
						</dl><dl>
							<dt><img src="image/5.jpg" alt=""></dt>
							<dd>蛋糕面包</dd>
						</dl><dl>
							<dt><img src="image/6.jpg" alt=""></dt>
							<dd>甜点饮品</dd>
						</dl>

					</div>
					<img src="image/7.jpg" alt="" class="pic7">
					<div class="local">
						<p>本地必去餐厅</p>
						<p>生活在这些城市，你去过这些餐厅吗？</p>
						<div>
							<img src="image/8.jpg" alt="">
							<img src="image/9.jpg" alt="">
							<img src="image/10.jpg" alt="">
							<img src="image/8.jpg" alt="">
							<img src="image/9.jpg" alt="">
							<img src="image/10.jpg" alt="">
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
			<a href="#fav" class="active"><small></small><br/>推荐</a><a href="find.html"><small></small><br/>发现</a><a href="mall.html"><small></small><br/>商城</a><a href="chat.html"><small></small><br/>食话</a><a href="my.html"><small></small><br/>我的</a>
		</footer>
	</div>
</div>