	<header class="header2">
		<a href=""></a>
		<p><span></span><input type="text" placeholder="榨汁机"></p>
		<a href=""></a>
		<a href=""></a>
	</header>
<div class="main" id="main">
		<div class="scroller" ng-controller='swiper'>
			<div class="swiper-container">
				<ul class="swiper-wrapper">
					<li class="swiper-slide"><img src="image/21.jpg" alt=""></li>
					<li class="swiper-slide"><img src="image/21.jpg" alt=""></li>
					<li class="swiper-slide"><img src="image/21.jpg" alt=""></li>
				</ul>
			</div>
			<div class="m_list">
				<a ui-sref='cake'><small></small><br/>烘焙</a><a ui-sref='cai'><small></small><br/>食材</a><a ui-sref='tool'><small></small><br/>厨具</a><a ui-sref="oil"><small></small><br/>粮油</a><a ui-sref="chudian"><small></small><br/>厨电</a><a ui-sref="all"><small></small><br/>全部</a>
			</div>
			<div class="good">
				<p>
					为您优选好物
					<a ui-sref="good">更多</a>
				</p>
				<dl>
					<dt><img src="image/28.jpg" alt=""></dt>
					<dd>
						<h3>宋桂芳干豆角100g</h3>
						<h4>¥9.9 <span>剩余30件</span></h4>
					</dd>
				</dl>
				<dl>
					<dt><img src="image/29.jpg" alt=""></dt>
					<dd>
						<h3>宋桂芳干豆角100g</h3>
						<h4>¥9.9 <span>剩余30件</span></h4>
					</dd>
				</dl>
				<dl>
					<dt><img src="image/30.jpg" alt=""></dt>
					<dd>
						<h3>宋桂芳干豆角100g</h3>
						<h4>¥9.9 <span>剩余30件</span></h4>
					</dd>
				</dl>
				<dl>
					<dt><img src="image/28.jpg" alt=""></dt>
					<dd>
						<h3>宋桂芳干豆角100g</h3>
						<h4>¥9.9 <span>剩余30件</span></h4>
					</dd>
				</dl>
				<dl>
					<dt><img src="image/29.jpg" alt=""></dt>
					<dd>
						<h3>宋桂芳干豆角100g</h3>
						<h4>¥9.9 <span>剩余30件</span></h4>
					</dd>
				</dl>
				<dl>
					<dt><img src="image/30.jpg" alt=""></dt>
					<dd>
						<h3>宋桂芳干豆角100g</h3>
						<h4>¥9.9 <span>剩余30件</span></h4>
					</dd>
				</dl>

			</div>
		</div>
</div>

