
<div class="main" id="main">
		<div class="scroller">
			<div class="banner">
				<img src="image/40.jpg" alt="">
				<p> <a href="">奇怪阿姨</a></p>
				<p>正在通往美食达人的路上...</p>
				<p>美食杰DNA 0 条</p>
			</div>
			<div class="m_top">
				<a href=""><span> 1 </span>关注</a>
				<a href=""><span> 1 </span>粉丝</a>
				<a href=""><span> 1 </span>菜谱</a>
			</div>
			<div class="hornor">
				<p>荣誉勋章</p>
				<img src="image/38.jpg" alt="">
				<img src="image/39.jpg" alt="">
				<img src="image/39.jpg" alt="">
				<img src="image/39.jpg" alt="">
				<img src="image/39.jpg" alt="">
				<img src="image/39.jpg" alt="">

			</div>
			<ol>
				<li><a href="">积分商城<span>免费兑换</span></a></li>
				<li><a ui-sref="message">消息通知</a></li>
			</ol>
			<ul>
				<li><a href="upload.html">我的发布</a></li>
				<li><a href="my_fav.html">我的收藏</a></li>
				<li><a href="order.html">我的订单</a></li>
			</ul>
		</div>


