
	<link rel="stylesheet" href="css/cake.css">



	<div class="header">
		<span id="back" ui-sref='index.mall'></span>
		<h1>厨具</h1>
	</div>
	<div class="main" id="main">
		<div class="scroller">
			<dl>
				<dt><img src="image/54.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/55.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/56.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/57.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/55.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl><dl>
				<dt><img src="image/54.jpg" alt=""></dt>
				<dd>
					<p>学厨 迷你4寸不占长方形活底塔盘</p>
					<p>￥8.8<span>￥22.8</span></p>
				</dd>
			</dl>
		</div>
	</div>
